.navbar{
    width:100%;
    background:#ffffff;
    border-bottom:1px solid #e5e7eb;
    position:sticky;
    top:0;
    z-index:1000;
}

.navbar-container{
    max-width:1280px;
    margin:auto;
    padding:18px 40px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.navbar-logo{
    font-size:34px;
    font-weight:700;
    color:#1E3A8A;
    letter-spacing:0.5px;
}

.navbar-menu{
    display:flex;
    gap:34px;
    list-style:none;
}

.navbar-menu a{
    text-decoration:none;
    color:#374151;
    font-size:16px;
    font-weight:500;
    transition:0.25s;
}

.navbar-menu a:hover{
    color:#1E3A8A;
}

.signin-btn{
    padding:12px 28px;

    background:#1E3A8A;
    color:white;

    border:none;
    border-radius:8px;

    cursor:pointer;

    font-size:15px;
    font-weight:600;

    transition:0.25s;
}

.signin-btn:hover{
    background:#163172;
}